@font-face {
  font-family: SF Pro Display;
  src: url(./fonts/SF-Pro-Display-Light.otf);
  font-weight: 300;
}
@font-face {
  font-family: SF Pro Display;
  src: url(./fonts/SF-Pro-Display-Regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: SF Pro Display;
  src: url(./fonts/SF-Pro-Display-Medium.otf);
  font-weight: 500;
}
@font-face {
  font-family: SF Pro Display;
  src: url(./fonts/SF-Pro-Display-Bold.otf);
  font-weight: 700;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: "SF Pro Display", Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 360px;
  background-color: #f6d8d8;
  line-height: 1.2;
}
body #otp-snackbar {
  display: flex;
}
body form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  height: 440px;
  width: 460px;
  padding: 30px;
  border-radius: 50px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
}
body form .form-title {
  align-self: flex-start;
  font-size: 36px;
  font-weight: bold;
}
body form .form-subtitle {
  align-self: flex-start;
  font-size: 20px;
  font-weight: 300;
}
body form .form-separator {
  width: 100%;
  margin: 12px 0 6px;
  border-top: 2px solid rgba(34, 34, 34, 0.36);
}
body form label {
  align-self: flex-start;
}
body form .input-container {
  width: 100%;
  position: relative;
  margin-top: 18px;
}
body form .input-container input {
  width: 100%;
  height: 50px;
  padding: 0 16px;
  border: 1px solid #c3d2eb;
  border-radius: 12px;
  background-color: #fdfdff;
  transition: all 0.5s ease-in-out;
  color: #000;
  font-family: "SF Pro Display";
  font-size: 18px;
}
body form .input-container input:focus {
  border: 1px solid #5138ed;
  font-size: 20px;
}
body form .input-container input::-webkit-outer-spin-button,
body form .input-container input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
body form .input-container p {
  position: absolute;
  padding: 0 16px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  transition: all 0.3s ease-out;
  color: #bfb7b7;
  font-family: "SF Pro Display";
  font-size: 18px;
  pointer-events: none;
}
body form .input-container input:not(:-moz-placeholder-shown) + p {
  top: -2px;
  left: 16px;
  padding: 0 2px;
  background-color: #fff;
  color: #000;
  font-size: 14px;
}
body form .input-container input:not(:-ms-input-placeholder) + p {
  top: -2px;
  left: 16px;
  padding: 0 2px;
  background-color: #fff;
  color: #000;
  font-size: 14px;
}
body form .input-container input:not(:placeholder-shown) + p {
  top: -2px;
  left: 16px;
  padding: 0 2px;
  background-color: #fff;
  color: #000;
  font-size: 14px;
}
body form .input-container input:focus + p {
  top: -2px;
  left: 16px;
  padding: 0 2px;
  border-color: #5138ed;
  background-color: #fff;
  color: #3521b5;
  font-size: 14px;
}
body #otp-label {
  align-self: flex-end;
  margin-top: 8px;
  background-color: #fff;
  font-size: 18px;
  text-decoration: underline;
  text-underline-offset: 2px;
}
body #token-submit {
  padding: 12px 17px;
  margin-top: 12px;
  border-radius: 10px;
  background-color: #5138ed;
  color: #fff;
  font-family: "SF Pro Display";
  font-weight: 300;
  font-size: 20px;
}
body #error-msg-container {
  position: absolute;
}/*# sourceMappingURL=style.css.map */