// Import fonts
@font-face {
    font-family: SF Pro Display;
    src: url(./fonts/SF-Pro-Display-Light.otf);
    font-weight: 300;
}

@font-face {
    font-family: SF Pro Display;
    src: url(./fonts/SF-Pro-Display-Regular.otf);
    font-weight: 400;
}

@font-face {
    font-family: SF Pro Display;
    src: url(./fonts/SF-Pro-Display-Medium.otf);
    font-weight: 500;
}

@font-face {
    font-family: SF Pro Display;
    src: url(./fonts/SF-Pro-Display-Bold.otf);
    font-weight: 700;
}

// Font Sizing Variables 
$sm: 18px;
$md: 20px;
$lg: 36px;

// Colours
$dull: #8B8787;
$inactive-border: #C3D2EB;
$inactive-background: #FDFDFF; // Clearing Defaults
$active-header: #3521B5;
$active-border: #5138ED;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 360px;

    background-color: #F6D8D8;
    font-family: 'SF Pro Display', Arial, Helvetica, sans-serif;
    line-height: 1.2;

    #otp-snackbar {
        display: flex;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        background-color: #FFF;
        height: 460px;
        width: 460px;
        padding: 30px;
        border-radius: 50px;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);

        .form-title {
            align-self: flex-start;

            font-size: $lg;
            font-weight: bold;
        }

        .form-subtitle {
            align-self: flex-start;
            font-size: $md;
            font-weight: 300;
        }

        .form-separator {
            width: 100%;
            margin: 18px 0 30px;
            border: 1px solid rgba(34, 34, 34, 0.36);
        }

        label {
            align-self: flex-start;
        }

        input {
            width: 100%;
            height: 50px;
            padding: 0 16px;

            border: 1px solid $inactive-border;
            border-radius: 12px;

            color: $dull;
            background-color: $inactive-background;
            font-family: "SF Pro Display";
            font-size: $sm;
        }

        // remove up and down buttons from number input
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }


        input:focus {
            background-color: #FFF;
            color: #000;
            border-color: $active-border;
            font-size: $md;

            &::placeholder {
                color: #FFF;
            }
        }
    }

    #error-msg-container {
        position: absolute;

    }
}